.venv
**/__pycache__/
dump.rdb
logs/*
lib
*.jar
.vscode

agent/.factorypath
agent/.settings/*
artifacts/configs

# Covers JetBrains IDEs
.idea/*
cmake-build-*/
*.iws
*.iml
out/
*.ipr
.idea_modules/

# OK, dont ignore project's imls after all
!agent/agent.iml
!scripts/scripts.iml

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties


## OSX GITIGNORE
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
