<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %white(%d{YYYY-MM-DD HH:mm:ss.SSS}) %highlight(%-5level) [%cyan(%-33t)] %-45green(%class{0}.java:%line): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>
    <appender name="ConsoleError" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %white(%d{YYYY-MM-DD HH:mm:ss.SSS}) %highlight(%-5level) [%cyan(%-33t)] %-45green(%class{0}.java:%line): %red(%msg) %n%throwable
            </pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root>
        <appender-ref ref="Console" />
        <appender-ref ref="ConsoleError" />
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="com.baeldung" level="trace" additivity="false">
        <appender-ref ref="Console" />
    </logger>

</configuration>
